
<header class="header">
    <div class="header-logo">Decode</div>
    <div class="header-menu">
        <ul>
            <li id="header-home">Home</li>
            <li id="header-chat">Chat</li>
            <li id="header-profile">Profile</li>
        </ul>
    </div>
</header>
