 *, *:before, *:after {
	 box-sizing: border-box;
}

#select{
    background-color:white;
    border: none;
    color: black;
    font-size: 17px;
    font-family: MS SANS SERIF;
    width: 200px;
    height: 100px;
    overflow-y: hidden;
    z-index: 9999;
    display: none;
    position: absolute;
}

.opt{
    margin: 10px;
}

.opt:hover{
    color: skyblue;
}

#select:focus{
    color: black;
    background-color: white;
    outline: 0;
    outline-offset: 0;
    border: none;
}

#select:active{
    color: black;
    background-color: white;
    outline: 0;
    outline-offset: 0;
    border: none;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  margin-left: 33%;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}


.fifth {
  border-color: RGB(1, 0 , 66);
  border-radius: 0;
  color: RGB(1, 0 , 66);
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 250ms ease-in-out;
}
.fifth:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: RGB(1, 0 , 66);
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 250ms ease-in-out;
}
.fifth:hover {
  color: #fff;
}
.fifth:hover:after {
  width: 110%;
}

.plus{
    text-decoration: none;
    color:white;
}


.name-group::placeholder{
    color:RGB(68, 71 , 83);
    font-size: 15px;
}

.name-group {
  height: 40px;
  width: 450px;
  background-color: #fafafa;
  border:0;
  box-shadow:0 0 4px rgba(0,0,0,0.3);
  transition: .3s box-shadow;
  font-size: 15px;
  padding-left: 20px;
  margin-top:20px;
}
.name-group:hover {
  box-shadow:0 0 4px rgba(0,0,0,0.5);
}

/* свойства модального окна по умолчанию */
    .modal {
      position: fixed;
      /* фиксированное положение */
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      /* цвет фона */
      z-index: 1050;
      opacity: 0;
      /* по умолчанию модальное окно прозрачно */
      -webkit-transition: opacity 400ms ease-in;
      -moz-transition: opacity 400ms ease-in;
      transition: opacity 400ms ease-in;
      /* анимация перехода */
      pointer-events: none;
      /* элемент невидим для событий мыши */
    }

    /* при отображении модального окно */
    .modal:target {
      opacity: 1;
      pointer-events: auto;
      overflow-y: auto;
    }

    /* ширина модального окна и его отступы от экрана */
    .modal-dialog {
      position: relative;
      width: auto;
      margin: 10px;
    }

    @media (min-width: 576px) {
      .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
      }
    }

    /* свойства для блока, содержащего контент модального окна */
    .modal-content {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: .3rem;
      outline: 0;
    }

    @media (min-width: 768px) {
      .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
      }
    }

    /* свойства для заголовка модального окна */
    .modal-header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 15px;
      border-bottom: 1px solid #eceeef;
    }

    .modal-title {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.5;
      font-size: 1.25rem;
      font-weight: 500;
    }

    /* свойства для кнопки "Закрыть" */
    .close {
      float: right;
      font-family: sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .5;
      text-decoration: none;
    }

    /* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
    .close:focus,
    .close:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      opacity: .75;
    }

    /* свойства для блока, содержащего основное содержимое окна */
    .modal-body {
      position: relative;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 15px;
      overflow: auto;
    }

.round {
  display: none;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  line-height: 1.2em;  /* подробнее про line-height */
  text-align: center;  /* выравнять текст по середине по горизонтали */
  background: skyblue;
  color:RGB(68, 71 , 83);
}

.text-blanco{
	color:#F2F2F2;
}

.button{
	/* [ Botton ] */
	position:relative;
	height:50px;
	width:50px;
	cursor:pointer;
	line-height:47px;
	background-color:RGB(68, 71 , 83);
	text-align:center;
	font-size:30px;
	display:inline-block;
	color:white;
}

.plus:hover{
    color: skyblue;
    font-size:35px;
}

 .chat-container {
	 /* margin: 40px auto;*/
	/* width: 100%%;  */

	 height: 90vh;
	 background: #444753;
	 border-radius: 5px;
     display: flex;
}
 .people-list {
	 width: 25%;
	 float: left;
}
 .people-list .search {
     display: flex;
	 padding: 20px;
}
 .people-list input {
	 border-radius: 3px;
	 border: none;
	 padding: 14px;
	 color: white;
	 background: #6a6c75;
	 width: 90%;
	 font-size: 14px;
}
 .people-list .fa-search {
	 position: relative;
	 left: -25px;
     top: 17px;
}
 .people-list ul {
	 padding: 20px;
	 height: 80vh;
     overflow: auto;
     overflow-x: hidden;
}
 .people-list ul li {
	 padding-bottom: 20px;
	 cursor: pointer;
}

 .people-list ul li:hover{
	color: skyblue;
	 padding-bottom: 20px;
}
 .people-list img {
	 float: left;
}
 .people-list .about {
	 float: left;
	 margin-top: 8px;
	 display: flex;
	 flex-wrap: wrap;
	 width: 80%;
}
.about .name {
	width: 80%;
}
.about .status {
	width: 80%;
}
 .people-list .about {
	 padding-left: 8px;
}
 .people-list .status {
	 color: #92959e;
}
 .chat {
	 width: 75%;
	 float: left;
	 background: #f2f5f8;
	 border-top-right-radius: 5px;
	 border-bottom-right-radius: 5px;
	 color: #434651;
}
 .chat .chat-header {
	 padding: 20px;
	 border-bottom: 2px solid white;
}
 .chat .chat-header img {
	 float: left;
}
 .chat .chat-header .chat-about {
	 float: left;
	 padding-left: 10px;
	 margin-top: 6px;
}
 .chat .chat-header .chat-with {
	 font-weight: bold;
	 font-size: 16px;
}
 .chat .chat-header .chat-num-messages {
	 color: #92959e;
}
 .chat .chat-header .fa-star {
	 float: right;
	 color: #d8dadf;
	 font-size: 20px;
	 margin-top: 12px;
}
 .chat .chat-history {
	 padding: 30px 30px 20px;
	 border-bottom: 2px solid white;
	 overflow-y: scroll;
	 height: 60vh;
}
 .chat .chat-history .message-data {
	 margin-bottom: 5px;
}
 .chat .chat-history .message-data-time {
	 color: #a8aab1;
	 padding-left: 6px;
}
 .chat .chat-history .message {
	 color: white;
	 padding: 2px 10px;
	 line-height: 26px;
	 font-size: 12px;
	 border-radius: 7px;
	 margin-bottom: 10px;
	 max-width: 70%;;
	 position: relative;
}
 /* .chat .chat-history .message:after {
	 bottom: 100%;
	 left: 7%;
	 border: solid transparent;
	 content: " ";
	 height: 0;
	 width: 0;
	 position: absolute;
	 pointer-events: none;
	 border-bottom-color: #86bb71;
	 border-width: 10px;
	 margin-left: -10px;
} */
 .chat .chat-history .my-message {
	 background: #86bb71;
}
 .chat .chat-history .other-message {
	 background: #94c2ed;
}
 .chat .chat-history .other-message:after {
	 border-bottom-color: #94c2ed;
	 left: 60%;
}
 .chat .chat-message {
	 padding: 30px;
	 display: none;
}
 .chat .chat-message textarea {
	 width: 100%;
	 border: none;
	 padding: 10px 20px;
	 font: 14px/22px "Lato", Arial, sans-serif;
	 margin-bottom: 10px;
	 border-radius: 5px;
	 resize: none;
}
 .chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
	 font-size: 16px;
	 color: gray;
	 cursor: pointer;
}
 .chat .chat-message button {
	 float: right;
	 color: #94c2ed;
	 font-size: 16px;
	 text-transform: uppercase;
	 border: none;
	 cursor: pointer;
	 font-weight: bold;
	 background: #f2f5f8;
}
 .chat .chat-message button:hover {
	 color: #75b1e8;
}
 .online, .offline, .me {
	 margin-right: 3px;
	 font-size: 10px;
}
 .online {
	 color: #86bb71;
}
 .offline {
	 color: #e38968;
}
 .me {
	 color: #94c2ed;
}
 .align-left {
	 text-align: left;
}
 .align-right {
	 text-align: right;
}
 .float-right {
	 float: right;
}
 .clearfix:after {
	 visibility: hidden;
	 display: block;
	 font-size: 0;
	 content: " ";
	 clear: both;
	 height: 0;
}

.readible{
	display: block;
}
