@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

@import url('./reset.css');
@import url('./home.css');
@import url('./chat.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./create-post.css');
