<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/header'); %>

    <div class="chat-container clearfix containers">
        <div class="people-list" id="people-list">
          <div class="search">
            <input type="text" placeholder="search" onkeyup="searchUser(event)"/>
            <i class="fa fa-search"></i>
            <button id = "plus" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">+</button>
          </div>
          <ul class="list">
          </ul>
        </div>

        <select id="select" size="5">
                    <option class="opt" selected="selected">Переслать</option>
                    <option class="opt" value="Marketing">Редактировать</option>
                    <option class="opt" value="Help">Удалить</option>
        </select>


        <div class="bd-example">
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Создать группу</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="recipient-name" class="form-control-label">Название:</label>
                      <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                      <label for="recipient-name" class="form-control-label">Описание:</label>
                      <input type="text" class="form-control" id="recipient-name">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button onclick="createGroup()" type="button" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal1" class="btn btn-primary">создать</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">Добавить пользователей</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                    <input class="form-control" type="text" placeholder="search" onkeyup="searchUserGroup(event)"/>
                    <div id="listGroupUser">

                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button onclick="addUserInGroup()" type="button" data-dismiss="modal" class="btn btn-primary">добавить</button>
              </div>
            </div>
          </div>
        </div>

        <div class="chat">
          <div class="chat-header clearfix">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" /> -->

            <div class="chat-about">
              <div class="chat-with"></div>
              <div class="chat-num-messages"></div>
            </div>
            <i class="fa fa-star"></i>
          </div> <!-- end chat-header -->

          <div class="chat-history">
            <ul>

              <!-- <li>
                <div class="message-data">
                  <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                  <span class="message-data-time">10:31 AM, Today</span>
                </div>
                <!-- <i class="fa fa-circle online"></i>
                <i class="fa fa-circle online" style="color: #AED2A6"></i>
                <i class="fa fa-circle online" style="color:#DAE9DA"></i> -->
              <!-- </li> -->

            </ul>

          </div> <!-- end chat-history -->

          <div class="chat-message clearfix">
            <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>

            <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
            <i class="fa fa-file-image-o"></i>

            <button>Send</button>

          </div> <!-- end chat-message -->

        </div> <!-- end chat -->

      </div> <!-- end container -->

    <script id="message-template" type="text/x-handlebars-template">
      <li class="clearfix">
        <div class="message-data align-right">
          <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
          <!-- <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i> -->
        </div>
        <div class="message other-message float-right">
          {{messageOutput}}
        </div>
      </li>
    </script>

    <script id="message-response-template" type="text/x-handlebars-template">
      <li id="{{id_msg}}" data-private="{{id}}">
        <div class="message-data">
          <span class="message-data-name"><i class="fa fa-circle online"></i> {{name}}</span>
          <span class="message-data-time">{{time}}, Today</span>
        </div>
        <div class="message my-message">
          {{messageOutput}}
        </div>
      </li>
    </script>

    <%- include('../partials/footer'); %>
</body>
</html>
