<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/header'); %>

    <div class="form-wrap">
      <form>
        <div>
          <label class="span-label" for="name">Заголовок</label>
          <input id="title" type="text" name="name">
        </div>
        <div>
          <label class="span-label" for="description">Описание</label>
          <input id="description" type="text" name="description">
        </div>
        <div>
          <label class="span-label" for="description">Картинка</label>
          <input id="img" type="text" name="img">
        </div>
        <div>
          <label class="span-label" for="description">Контент</label>
          <input id="content" type="text" name="description">
        </div>
        <button class="button-create" id="submit" type="button">Отправить</button>
      </form>
    </div>

    <%- include('../partials/footer'); %>
</body>
</html>
