<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/header'); %>

    <div class="body-form">
        <h1 class="title-form">Создать пост</h1>

        <form class="login" method="post">

            <label class="username form-label" for="title">Заголовок: </label>
            <input name="email" id="title" class="form-control" type="username"/>

            <br />

            <label  class="form-label" for="description">Описание: </label>
            <input name="password" id="description" class="form-control" type="username"/>

            <br />

            <label  class="form-label" for="img">Картинка: </label>
            <input name="password" id="img" class="form-control" type="username"/>

            <br />

            <label  class="form-label" for="content">Контент: </label>
            <input name="password" id="content" class="form-control" type="username"/>

            <input id="submit" type="button" value="Создать" class="btn btn-outline-primary" />
        </form>

    </div>

    <%- include('../partials/footer'); %>
</body>
</html>
