<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/header'); %>

    <div class="general_contain">

            <div class="main_contain">

                <div class="avatar_contain">

                    <div class="user_name">

                        <h1 class="name_surname">Дима Пермяков</h1>

                    </div>

                    <img class = "avatar" src="https://pbs.twimg.com/profile_images/860132866453381120/VPBwbmkr_400x400.jpg" alt="">

                </div>
            </div>

            <div class="generail_info">

                <div class="user_info">
                    <h2 id = "role" class="text_generail_info">Role: User</h2>
                </div>
                <div class="user_info">
                    <h2 id = "mail" class="text_generail_info">Почта: dimazavr1337@mail.com</h2>
                </div>
                <div class="user_info">
                    <h2 id = "phone" class="text_generail_info">Номер: dimazavr1337</h2>
                </div>
                <div class="user_info">
                    <h2 id = "age" class="text_generail_info">Возраст: 14</h2>
                </div>

                <form action="" class="index1">
                    <input type="submit" value="Изменить " class="change">

                </form>
            </div>
        </div>

    <%- include('../partials/footer'); %>
</body>
</html>
